{% extends 'base.html' %}

{% block title %}Página Inicial - BsbGo!{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bem-vindo ao BsbGo!</h1>
        <p class="fs-4">Seu guia completo para explorar o melhor de Brasília. Encontre pontos turísticos, eventos, e muito mais.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245795.84053317798!2d-48.10217022315927!3d-15.72148702312245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3d18df9ae275%3A0x738470e469754a24!2zQnJhc8OtbGlhLCBERg!5e0!3m2!1spt-BR!2sbr!4v1749821386890!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


<h2 class="mt-4 mb-3">Eventos</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for evento in eventos %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='uploads/' + evento.imagem_file) }}" class="card-img-top card-img-uniform" alt="{{ evento.nome }}">
      <div class="card-body">
        <h5 class="card-title">{{ evento.nome }}</h5>
        <p class="card-text">{{ evento.detalhes }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ evento.local }} – {{ evento.data }}</small>
      </div>
    </div>
  </div>
  {% else %}
  <p>Nenhum evento cadastrado no momento.</p>
  {% endfor %}
</div>

<h2 class="mt-5 mb-3">Locais Turísticos</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for ponto in pontos %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='uploads/' + ponto.imagem_file) }}" class="card-img-top card-img-uniform" alt="{{ ponto.nome }}">
      <div class="card-body">
        <h5 class="card-title">{{ ponto.nome }}</h5>
        <p class="card-text">{{ ponto.descricao | truncate(100) }}</p>
      </div>
       <div class="card-footer">
        <small class="text-muted">{{ ponto.horario }}</small>
      </div>
    </div>
  </div>
   {% else %}
  <p>Nenhum ponto turístico cadastrado no momento.</p>
  {% endfor %}
</div>
{% endblock %}